:root {
  --font-family: "Roboto", sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --accent-color: #5CB131;
  --main-color: #2B2B2B;
  --grey--color: #5C5C5C;
  --light-gray-color: #B8B8B8;
  --border: 4px;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.site-main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.btn-accent {
  padding: 14px 24px;
  background-color: var(--accent-color);
  border-radius: var(--border);
  color: var(--light-color);
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.btn-accent:hover {
  background-color: #49a01d;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  line-height: 160%;
  margin: 0;
  font-size: 26px;
  color: var(--accent-color);
  text-transform: uppercase;
}
.title--dark {
  color: #4a4e49;
}

.descr {
  line-height: 160%;
  margin: 0;
  color: var(--main-color);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}
@media (max-width: 576px) {
  .grid {
    gap: 20px;
  }
}

.link {
  display: block;
  color: var(--main-color);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.link:hover {
  color: var(--accent-color);
}

.logo {
  margin-right: 30px;
}
@media (max-width: 1024px) {
  .logo {
    margin: 0;
    z-index: 2;
  }
}

.header {
  padding: 15px 0;
  background-color: #fafafa;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__card {
  margin-left: 20px;
}
.header__card path {
  -webkit-transition: fill 0.2s ease-in-out;
  -o-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}
.header__card:hover path {
  fill: var(--accent-color);
}
@media (max-width: 1024px) {
  .header__card {
    margin: 0;
    z-index: 2;
  }
}
@media (max-width: 1024px) {
  .header .burger {
    display: block;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .menu__control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.menu-catalog {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .menu-catalog {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.menu-catalog--active {
  background-color: #49a01d;
}
.menu-catalog__naim {
  margin-left: 10px;
}
.menu-search {
  position: relative;
  margin-right: 70px;
  padding: 10px 10px;
}
@media (max-width: 1024px) {
  .menu-search {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.menu-search::before {
  content: "";
  position: absolute;
  width: 1px;
  cursor: auto;
  background-color: #cecece;
  top: 8px;
  bottom: 8px;
  right: -25px;
}
@media (max-width: 1024px) {
  .menu-search::before {
    width: 0;
  }
}
.menu-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .menu-contacts--centr {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.menu-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--grey--color);
  background-position: left center;
  background-repeat: no-repeat;
  font-size: 14px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.menu-contacts__link:hover {
  color: var(--accent-color);
}
@media (max-width: 1024px) {
  .menu-contacts__link--mar {
    margin-right: 0;
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.menu-contacts__link:not(:last-child) {
  margin-right: 15px;
}
.menu-contacts__data {
  margin-left: 5px;
}
@media (max-width: 1024px) {
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    overflow-y: auto;
    padding: 50px;
    width: 80%;
    height: 100vh;
    background-color: var(--light-color);
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .menu--active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .menu--active {
    padding: 120px 0;
  }
}
@media (max-width: 1024px) and (max-width: 576px) {
  .menu--active {
    width: 100%;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .nav__item {
    margin-bottom: 60px;
  }
}
.nav__item:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 1024px) {
  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.nav__link {
  font-size: 14px;
  color: var(--grey--color);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 1024px) {
  .nav__link {
    font-size: 20px;
  }
}
.nav__link:hover {
  color: var(--accent-color);
}

.burger {
  --burger-width: 26px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--grey--color);
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  display: none;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hero__catalog {
  position: relative;
}

.dropdown {
  position: absolute;
  width: 340px;
  background-color: #fafafa;
  top: 132%;
  left: -50px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
}
@media (max-width: 1024px) {
  .dropdown {
    top: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: var(--light-color);
    -webkit-box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.12);
    box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.12);
  }
}
.dropdown--active {
  opacity: 1;
  visibility: visible;
}
.dropdown__list {
  position: relative;
  padding: 40px 50px;
}
.dropdown__sublist {
  position: absolute;
  width: 340px;
  padding: 40px 50px;
  background-color: #fafafa;
  top: 0;
  left: 340px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
}
@media (max-width: 1024px) {
  .dropdown__sublist {
    left: 0;
    top: 100%;
    background-color: var(--light-color);
    -webkit-box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.12);
    box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.12);
  }
}
.dropdown__sublist--active {
  opacity: 1;
  visibility: visible;
}
.dropdown__item:not(:last-child) {
  margin-bottom: 18px;
}
.dropdown__subitem:not(:last-child) {
  margin-bottom: 18px;
}

.swiper {
  width: 100%;
  z-index: 0;
}
.hero__swiper {
  height: 620px;
}
@media (max-width: 576px) {
  .hero__swiper {
    height: 500px;
  }
}

.hero__content {
  position: absolute;
  max-width: 638px;
  padding-top: 110px;
  pointer-events: none;
  z-index: 4;
  display: inline-block;
}
@media (max-width: 1024px) {
  .hero__content {
    max-width: 500px;
  }
}
@media (max-width: 576px) {
  .hero__content {
    text-align: center;
    padding-top: 60px;
  }
}
.hero__content > * {
  position: relative;
}
.hero__title {
  margin: 0;
  margin-bottom: 30px;
  color: var(--light-color);
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 40px;
  }
}
.hero__subtitle {
  margin: 0;
  max-width: 470px;
  margin-bottom: 30px;
  color: var(--light-color);
  line-height: 160%;
}
@media (max-width: 1024px) {
  .hero__subtitle {
    max-width: 400px;
  }
}
@media (max-width: 576px) {
  .hero__subtitle {
    max-width: 100%;
  }
}
.hero__btn {
  pointer-events: auto;
}
@media (max-width: 576px) {
  .hero__btn {
    padding: 16px 46px;
  }
}
.hero-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--accent-color);
  position: relative;
  overflow-y: hidden;
}
.hero-slide::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(5, 21, 3, 0.5);
  width: 60%;
  height: 100%;
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}
@media (max-width: 1024px) {
  .hero-slide::before {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .hero-slide::before {
    -webkit-transform: skewX(0);
    -ms-transform: skewX(0);
    transform: skewX(0);
    width: 100%;
  }
}
.hero__img {
  height: 100%;
  width: 100%;
}

.benefits {
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  margin-bottom: 30px;
}
.benefits__list {
  background-color: var(--light-color);
  -webkit-box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.12);
  box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.12);
  border-radius: 4px;
  border: 1px solid rgb(233, 233, 233);
}
.benefits__item {
  padding: 73px 0 25px 0;
  font-weight: 500;
  font-size: 14px;
  color: var(--grey--color);
  -ms-grid-column-span: 3;
  grid-column: 3 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: center top 25px;
  background-repeat: no-repeat;
  background-size: 30px;
  position: relative;
}
.benefits__item--1 {
  background-image: url("../img/benefits-icon/cart.svg");
}
.benefits__item--2 {
  background-image: url("../img/benefits-icon/truck.svg");
}
.benefits__item--3 {
  background-image: url("../img/benefits-icon/up.svg");
}
.benefits__item--4 {
  background-image: url("../img/benefits-icon/call.svg");
}
@media (max-width: 768px) {
  .benefits__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
@media (max-width: 576px) {
  .benefits__item {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
  .benefits__item:not(:last-child)::before {
    content: "";
    height: 1px;
    top: 127px;
    width: 34px;
    position: absolute;
    background-color: rgb(233, 233, 233);
  }
}

.aboutus {
  margin-bottom: 170px;
}
@media (max-width: 576px) {
  .aboutus {
    margin-bottom: 100px;
  }
}
.aboutus__up {
  margin-bottom: 140px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .aboutus__up {
    margin-bottom: 60px;
  }
}
.aboutus__up::before {
  content: "";
  border-radius: 4px;
  display: block;
  position: absolute;
  background-image: url("../img/aboutus/aboutus.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/6 span;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .aboutus__up::before {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    height: 280px;
    position: relative;
  }
}
.aboutus__content {
  grid-column: 7/6 span;
}
@media (max-width: 768px) {
  .aboutus__content {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}
.aboutus__title {
  margin-bottom: 30px;
}
.aboutus__descr:not(:last-child) {
  margin-bottom: 20px;
}
.aboutus__middle {
  margin-bottom: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 576px) {
  .aboutus__middle {
    margin-bottom: 60px;
  }
}
.aboutus__middle-text {
  grid-column: 1/8 span;
}
@media (max-width: 1024px) {
  .aboutus__middle-text {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    grid-column: 1/7 span;
  }
}
@media (max-width: 768px) {
  .aboutus__middle-text {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.aboutus__middle-subtitle {
  margin-bottom: 10px;
  margin-left: 80px;
  color: var(--grey--color);
}
@media (max-width: 576px) {
  .aboutus__middle-subtitle {
    margin-left: 0;
  }
}
.aboutus__middle-title {
  margin-bottom: 42px;
  line-height: 140%;
}
.aboutus__middle-benefits {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
@media (max-width: 1024px) {
  .aboutus__middle-benefits {
    -ms-grid-column-span: 5;
    grid-column: 5 span;
  }
}
@media (max-width: 768px) {
  .aboutus__middle-benefits {
    grid-column: 3/8 span;
  }
}
@media (max-width: 576px) {
  .aboutus__middle-benefits {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.aboutus .list-aboutus__item {
  padding: 20px 50px 20px 50px;
  background-color: #fafafa;
  color: var(--grey-color);
  -webkit-box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.12);
  box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.12);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  border: 1px solid rgb(233, 233, 233);
}
@media (max-width: 768px) {
  .aboutus .list-aboutus__item {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.aboutus .list-aboutus__item:not(:last-child) {
  margin-bottom: 30px;
}
.aboutus .list-aboutus__benefits {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 60px;
  line-height: 140%;
  display: block;
}
.aboutus .list-aboutus__text {
  margin: 0;
  font-weight: 500;
  color: var(--grey--color);
  text-align: center;
}
.aboutus__bottom {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.aboutus__bottom-text {
  grid-column: 7/6 span;
}
@media (max-width: 768px) {
  .aboutus__bottom-text {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}
.aboutus__bottom-benefits {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
@media (max-width: 1024px) {
  .aboutus__bottom-benefits {
    -ms-grid-column-span: 5;
    grid-column: 5 span;
  }
}
@media (max-width: 768px) {
  .aboutus__bottom-benefits {
    grid-column: 3/8 span;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}
@media (max-width: 576px) {
  .aboutus__bottom-benefits {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.aboutus__bottom-subtitle {
  margin-bottom: 10px;
  margin-left: 80px;
  color: var(--grey--color);
}
@media (max-width: 576px) {
  .aboutus__bottom-subtitle {
    margin-left: 0;
  }
}
.aboutus__bottom-title {
  margin-bottom: 42px;
  line-height: 140%;
}

.call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 150px;
  height: 870px;
  background-image: url("../img/call/call.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--accent-color);
}
@media (max-width: 576px) {
  .call {
    background-size: contain;
    background-position: center top;
    background-color: inherit;
    margin-bottom: 10px;
  }
}
.call__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
@media (max-width: 768px) {
  .call__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.call__title {
  margin: 0;
  margin-bottom: 42px;
  max-width: 240px;
  font-weight: 500;
  font-size: 22px;
}

.form {
  border: 1px solid #DADADA;
  background-color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 390px;
  padding: 60px 25px;
  border-radius: 4px;
}
@media (max-width: 576px) {
  .form {
    width: 100%;
  }
}
.form__style {
  background: #F3F3F3;
  border: 1px solid #DADADA;
  border-radius: 4px;
  padding: 15px;
}
@media (max-width: 576px) {
  .form__style {
    width: 100%;
  }
}
.form__name {
  margin-bottom: 15px;
}
.form__call {
  margin-bottom: 15px;
}
.form__message {
  resize: none;
  margin-bottom: 10px;
}
.form__label {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.form__checkbox {
  cursor: pointer;
}
.form__subtitle {
  margin-left: 7px;
  font-size: 14px;
  line-height: 120%;
}
.form__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.form__btn span {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question {
  margin-bottom: 170px;
}
@media (max-width: 576px) {
  .question {
    margin-bottom: 100px;
  }
}
.question__title {
  margin-bottom: 50px;
}

.accordion__item {
  border-top: 1px solid rgb(185, 185, 185);
}
.accordion__item:last-child {
  border-bottom: 1px solid rgb(185, 185, 185);
}
.accordion__title {
  margin: 30px 0;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: var(--main-color);
}
.accordion__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.accordion__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: max-height;
  padding: 0;
  color: var(--grey--color);
  -webkit-transition: opacity 0.3s ease-in-out, will-change 0.3s ease-in-out, max-height 0.3s ease-in-out, overflow 0.3s ease-in-out, padding 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, will-change 0.3s ease-in-out, max-height 0.3s ease-in-out, overflow 0.3s ease-in-out, padding 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, will-change 0.3s ease-in-out, max-height 0.3s ease-in-out, overflow 0.3s ease-in-out, padding 0.3s ease-in-out;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.accordion__icon {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  margin-left: 15px;
}

.open .accordion__icon {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.open .accordion__content {
  opacity: 1;
  padding: 5px 0 30px 0;
}

.contacts {
  margin-bottom: 170px;
}
@media (max-width: 768px) {
  .contacts {
    margin-bottom: 50px;
  }
}
.contacts__title {
  margin-bottom: 30px;
}
.contacts__subtitle {
  margin-bottom: 75px;
  color: var(--light-gray-color);
  line-height: 160%;
  max-width: 650px;
}
.contacts__list {
  grid-column: 1/6 span;
}
@media (max-width: 768px) {
  .contacts__list {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
@media (max-width: 576px) {
  .contacts__list {
    margin-bottom: 30px;
  }
}
.contacts__item {
  grid-column: 1/12 span;
  gap: 40px;
}
@media (max-width: 768px) {
  .contacts__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
@media (max-width: 576px) {
  .contacts__item {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.contacts__naim {
  margin: 0;
  color: var(--main-color);
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 32px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}
.contacts__naim--address {
  background-image: url("../img/marker.svg");
}
.contacts__naim--phone {
  background-image: url("../img/phone-call.svg");
}
.contacts__naim--mail {
  background-image: url("../img/mail.svg");
}
.contacts__naim--soc {
  background-image: url("../img/soc.svg");
}
.contacts__address {
  font-style: normal;
  max-width: 420px;
  color: var(--grey--color);
}
.contacts__email {
  font-weight: 400;
  line-height: 160%;
  color: var(--accent-color);
}
.contacts__maps {
  width: 100%;
  height: 486px;
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
@media (max-width: 768px) {
  .contacts__maps {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    height: 300px;
  }
}
.contacts__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__social-item:not(:last-child) {
  margin-right: 15px;
}

[class*=copyrights-pane] {
  display: none !important;
}

.menu-contacts__data--contacts {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 16px;
}

.grid .contacts__list {
  row-gap: 60px;
}

.footer {
  background-color: #171817;
  padding: 120px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer-logo {
  margin-bottom: 30px;
}
.footer__subtitle {
  color: var(--light-gray-color);
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 30px;
  max-width: 380px;
}
@media (max-width: 768px) {
  .footer__nav-list {
    margin-bottom: 50px;
  }
}
.footer__nav-item:not(:last-child) {
  margin-bottom: 20px;
}
.footer__nav-link {
  font-size: 14px;
  color: var(--accent-color);
}
.footer__data {
  margin-bottom: 30px;
}
.footer__aadress {
  margin-bottom: 30px;
  color: var(--light-gray-color);
  font-size: 14px;
  line-height: 160%;
  font-style: normal;
  max-width: 355px;
}

.menu-contacts__link--footer {
  color: var(--accent-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 15px;
}

.contacts-page {
  margin: 120px 0;
}
.contacts-page__title {
  margin-bottom: 80px;
}
.contacts-page__subtitle {
  margin-bottom: 60px;
  font-weight: 500;
}
.contacts-page__body {
  margin-bottom: 80px;
}
.contacts-page__control {
  grid-column: 1/6 span;
}
@media (max-width: 576px) {
  .contacts-page__control {
    grid-column: 1/12 span;
  }
}
.contacts-page__item {
  grid-column: 1/12 span;
}
.contacts-page__call {
  grid-column: 8/5 span;
}
@media (max-width: 576px) {
  .contacts-page__call {
    grid-column: 1/12 span;
  }
}
.contacts-page__form {
  border: none;
  padding: 0;
  width: 100%;
}

.terms {
  margin: 120px 0;
}
.terms__item {
  padding: 80px 0;
}
.terms__item:not(:last-child) {
  border-bottom: 1px solid #c7c7c7;
}
.terms__subtitle {
  grid-column: 1/3 span;
  margin: 0;
  color: var(--main-color);
}
@media (max-width: 1024px) {
  .terms__subtitle {
    grid-column: 1/5 span;
  }
}
@media (max-width: 768px) {
  .terms__subtitle {
    grid-column: 1/12 span;
    margin-bottom: 15px;
  }
}
.terms__content {
  grid-column: 4/12 span;
}
@media (max-width: 1024px) {
  .terms__content {
    grid-column: 6/12 span;
  }
}
@media (max-width: 768px) {
  .terms__content {
    grid-column: 1/12 span;
  }
}
.terms__text {
  position: relative;
}
.terms__text::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: -28px;
  background-image: url("../img/check.svg");
  background-position: top center;
  background-repeat: no-repeat;
}
.terms__text:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .terms__text {
    margin-left: 30px;
  }
}

.card-product {
  margin-top: 100px;
}
.card-product__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
}
.card-product__main {
  margin-bottom: 90px;
}
.card-product__slider {
  grid-column: 1/8 span;
}
@media (max-width: 1024px) {
  .card-product__slider {
    grid-column: 1/12 span;
  }
}
.card-product__control {
  padding: 60px;
  grid-column: 9/4 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--light-color);
  -webkit-box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.12);
  box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.12);
  border-radius: var(--border);
}
@media (max-width: 1024px) {
  .card-product__control {
    grid-column: 1/12 span;
  }
}
.card-product__order {
  margin: 0;
  margin-bottom: 25px;
  font-size: 25px;
}
.card-product__price {
  margin: 0;
  margin-bottom: 25px;
  font-size: 33px;
  font-weight: 700;
}
.card-product__item {
  position: relative;
}
.card-product__item:not(:last-child) {
  margin-bottom: 15px;
}
.card-product__item::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: -28px;
  background-image: url(../img/check.svg);
  background-position: top center;
  background-repeat: no-repeat;
}
.card-product__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card-product__basket {
  margin-bottom: 15px;
}
.card-product__credit {
  margin-bottom: 40px;
}
.card-product__swiper {
  max-height: 500px;
}
@media (max-width: 576px) {
  .card-product__swiper {
    max-height: 400px;
  }
}
.card-product__tabs {
  grid-column: 1/12 span;
}
.card-product__panel {
  padding: 35px;
  margin-bottom: 60px;
  background-color: var(--light-color);
  -webkit-box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.12);
  box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.12);
  border-radius: 4px;
}
.card-product__descr {
  margin: 0;
  margin-bottom: 60px;
}
.card-product__teh {
  margin: 0;
  height: 16px;
  overflow: hidden;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-left: 5px;
}
@media (max-width: 576px) {
  .card-product__teh {
    margin-left: 0;
  }
}
.card-product__naim {
  color: #9E9E9E;
  margin-right: 5px;
}
@media (max-width: 576px) {
  .card-product__naim {
    margin-bottom: 7px;
  }
}
.card-product__feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.card-product__feature-item::before {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-bottom: 4px;
  border-bottom: 1px dotted #9E9E9E;
}
@media (max-width: 576px) {
  .card-product__feature-item::before {
    display: none;
  }
}
.card-product__feature-item:not(:last-child) {
  margin-bottom: 15px;
}

.tabs__naim {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--main-color);
}

.card-benefits__item {
  position: relative;
  margin-left: 40px;
}
.card-benefits__item:not(:last-child) {
  margin-bottom: 15px;
}
.card-benefits__item::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: -28px;
  background-image: url(../img/check.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.tabs .tabs__nav-btn {
  background-color: inherit;
  border: none;
  color: rgb(145, 145, 145);
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}
.tabs .tabs__nav-btn--active {
  color: var(--accent-color);
  background-color: inherit;
  border: none;
}
.tabs .tabs__panel {
  display: none;
}
.tabs .tabs__panel--active {
  display: block;
}
.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}
.tabs__nav-item:not(:last-child) {
  margin-right: 15px;
}

.benefits__list__card-product {
  margin-bottom: 70px;
}

@media (max-width: 1024px) {
  .goods-benefits {
    display: none;
  }
}

.swiper-mini-slide {
  position: relative;
  cursor: pointer;
}

.swiper-mini-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card-product__mini {
  height: 134px;
}
@media (max-width: 768px) {
  .card-product__mini {
    height: 130px;
  }
}
@media (max-width: 576px) {
  .card-product__mini {
    height: 65px;
  }
}

.card-product__swiper {
  margin-bottom: 8px;
}

.swiper-mini-slide {
  opacity: 0.2;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.swiper-mini-slide:hover {
  opacity: 1;
}

.swiper-mini-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.catalog__title {
  margin: 0;
  margin-bottom: 120px;
  margin-top: 80px;
  font-size: 44px;
  text-align: center;
  position: relative;
}
.catalog__title::before {
  content: "";
  position: absolute;
  height: 1px;
  border: 1px solid #D7D7D7;
  top: 100px;
  left: 20%;
  right: 20%;
}
.catalog__nav {
  grid-column: 1/3 span;
}
.catalog__goods {
  grid-column: 4/12 span;
}
.catalog__list-title {
  font-size: 16px;
  color: #2B2B2B;
  margin: 0;
  margin-bottom: 20px;
}
.catalog__item {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #A3A3A3;
}
.catalog__item:not(:last-child) {
  padding-bottom: 15px;
}
.catalog__item:last-child {
  margin-bottom: 40px;
}
.catalog__link {
  font-size: 14px;
  line-height: 120%;
  color: #4F4F4F;
}

.catalog-goods__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
@media (max-width: 1024px) {
  .catalog-goods__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
.catalog-goods__item:last-child {
  margin-bottom: 100px;
}
.catalog-goods__img img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 270px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: var(--border);
}
.catalog-goods__price {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  color: var(--main-color);
}
.catalog-goods__title {
  margin: 0;
  display: block;
  margin-bottom: 15px;
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
}

.basket {
  padding: 30px 220px;
}
@media (max-width: 1024px) {
  .basket {
    padding: 30px 70px;
  }
}
@media (max-width: 576px) {
  .basket {
    padding: 30px 0;
  }
}
.basket__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}
.basket__decor {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
}
.basket__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .basket__control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.basket__img {
  width: 150px;
  height: 150px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: var(--border);
}
@media (max-width: 1024px) {
  .basket__img {
    width: 70%;
    height: 300px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .basket__img {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
}
.basket__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 15px;
}
.basket__naim {
  margin: 0;
  margin-bottom: 15px;
}
.basket__price {
  margin: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 700;
}
.basket__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.basket__contacts {
  background: #F3F3F3;
  border: 1px solid #DADADA;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
}
.basket__label:not(:last-child) {
  margin-bottom: 12px;
}
.basket__input-title {
  margin: 0;
  font-weight: 700;
  margin-bottom: 15px;
}
.stepper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 130px;
  height: 45px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #DADADA;
}
@media (max-width: 1024px) {
  .stepper {
    width: 100%;
    margin-bottom: 20px;
  }
}
.stepper__field {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.stepper__input {
  border: none;
  width: 20px;
  height: 100%;
  outline: none;
  font-weight: 700;
}
.stepper__text {
  font-weight: 700;
}
.stepper__btn {
  background-color: inherit;
  border: none;
  outline: none;
  height: 100%;
  width: 50%;
  cursor: pointer;
}
.stepper__btn--up {
  border-left: 1px solid #DADADA;
}
.stepper__btn--down {
  border-right: 1px solid #DADADA;
}
/*# sourceMappingURL=main.css.map */