:root {
  --font-family: "Gilroy", sans-serif;
  --content-width: 1440px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --accent-color: #78258d;
  --title-color: #232323;
  --grey-color: #333;
  --grey-color82: #828282;
  --grey-color58: #585858;
  --blue-color: #2e90d1;
  --border-8: 8px;
  --border-10: 10px;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  line-height: 150%;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.btn-accent {
  background-color: var(--accent-color);
  padding: 18px 28px;
  font-weight: 600;
  color: var(--light-color);
  border-radius: var(--border-8);
}
.btn-accent:hover {
  background-color: #662f74;
}

.btn-light {
  padding: 12px 16px;
  background-color: var(--light-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: var(--border-8);
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}

.title {
  font-weight: 900;
  font-size: 46px;
  line-height: 120%;
  color: var(--title-color);
}

.link {
  color: var(--accent-color);
  font-weight: 600;
}

.header {
  padding: 24px 0;
  border-bottom: 1px solid #EFEFFF;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  width: 120px;
  height: 40px;
  margin-right: 45px;
}
.header__btn {
  padding: 12px 18px;
}

.hero {
  padding: 100px 0;
}
.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero__content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero__text {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.hero__overhead {
  margin: 0;
  margin-bottom: 15px;
  color: var(--blue-color);
  font-weight: 600;
  font-size: 18px;
}
.hero__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 60px;
  max-width: 698px;
}
.hero__subtitle {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 500;
  font-size: 20px;
  color: var(--grey-color82);
  max-width: 491px;
}
.hero__img {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  position: relative;
}
.hero__img:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 137px;
  left: 134px;
  width: 107px;
  height: 80px;
  background-image: url("../img/hero-animation.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation-duration: 2.1s;
  animation-duration: 2.1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: hero-animation;
  animation-name: hero-animation;
  -webkit-animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@-webkit-keyframes hero-animation {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-90px);
    transform: scale(0.9, 1.1) translateY(-90px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-8px);
    transform: scale(1, 1) translateY(-8px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes hero-animation {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-90px);
    transform: scale(0.9, 1.1) translateY(-90px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-8px);
    transform: scale(1, 1) translateY(-8px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
}

.courses {
  margin-bottom: 280px;
}
.courses__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
}
.courses__title {
  margin: 0;
  max-width: 650px;
}

.forwhom {
  margin-bottom: 140px;
}
.forwhom__main {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  position: relative;
}
.forwhom__main::before {
  content: "";
  position: absolute;
  top: 5%;
  left: -32%;
  display: inline-block;
  width: 140%;
  height: 100%;
  -webkit-transform: skew(-12deg, 12deg);
  -ms-transform: skew(-12deg, 12deg);
  transform: skew(-12deg, 12deg);
  background-image: url("../img/forwhom/message.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
}
.forwhom__title {
  margin: 0;
  max-width: 400px;
  margin-bottom: 27px;
}
.forwhom__title-blue {
  color: var(--blue-color);
}
.forwhom__suptitle {
  margin: 0;
  margin-bottom: 40px;
  color: var(--grey-color58);
  font-weight: 500;
}
.forwhom__suptitle-blue {
  color: var(--blue-color);
}
.forwhom__elements {
  -ms-grid-column-span: 8;
  grid-column: 8 span;
}

.benefits {
  margin-bottom: 110px;
}
.benefits__title {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
}

.tech {
  margin-bottom: 100px;
}
.tech__inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 90px;
  border-radius: 40px;
  background: -o-linear-gradient(315deg, rgba(46, 144, 209, 0.1) 0%, rgba(120, 37, 141, 0.1) 100%);
  background: linear-gradient(135deg, rgba(46, 144, 209, 0.1) 0%, rgba(120, 37, 141, 0.1) 100%);
}
.tech__img {
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}
.tech__content {
  grid-column: 7/6 span;
}
.tech__title {
  margin: 0;
  margin-bottom: 24px;
}
.tech__title--gradient {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -o-linear-gradient(278deg, #2E90D1 0%, #78258D 100%);
  background-image: linear-gradient(172deg, #2E90D1 0%, #78258D 100%);
}
.tech__item:not(:last-child) {
  margin-bottom: 16px;
}
.tech__descr {
  margin: 0;
  padding-left: 36px;
  font-weight: 500;
  font-size: 20px;
  color: var(--grey-color58);
  position: relative;
}
.tech__descr::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  border-radius: 100%;
  height: 16px;
  background: -o-linear-gradient(315deg, #2E90D1 0%, #78258D 100%);
  background: linear-gradient(135deg, #2E90D1 0%, #78258D 100%);
}

.work {
  margin-bottom: 100px;
}
.work__title {
  text-align: center;
}

.nav {
  margin: 0 10px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 45px;
}
.nav__link {
  font-weight: 600;
  color: var(--grey-color);
}

.hero-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero-control__item:not(:last-child) {
  margin-right: 32px;
}
.hero-control__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero-control__play {
  margin-right: 12px;
}
.hero-control__text {
  color: var(--grey-color58);
  font-weight: 500;
}

.slide-courses {
  border-radius: var(--border-10);
}
.slide-courses--1 {
  background-color: #def1ff;
}
.slide-courses--2 {
  background-color: #fdede4;
}
.slide-courses--3 {
  background-color: #efefff;
}
.slide-courses__content {
  margin: 40px;
}
.slide-courses__lang {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.slide-courses__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  color: var(--title-color);
}
.slide-courses__duration {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  color: var(--grey-color58);
}
.slide-courses__module {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  color: var(--grey-color58);
}
.slide-courses__value {
  font-weight: 700;
  color: var(--grey-color);
}
.slide-courses__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.slide-courses__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slide-courses__word {
  margin-right: 10px;
}
.slide-courses__price {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  color: var(--grey-color);
}

.forwhom-list__item {
  padding: 40px;
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  background-position: left center;
  background-repeat: no-repeat;
}
.forwhom-list__item:nth-child(-n+2) {
  padding-top: 0;
}
.forwhom-list__item:nth-last-child(-n+2) {
  padding-bottom: 0;
}
.forwhom-list__item--1::before {
  content: "";
  display: inline-block;
  margin-bottom: 14px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #E4D3E8;
  background-size: 36px;
  background-position: top 55% left 50%;
  background-repeat: no-repeat;
  background-image: url("../img/forwhom/schoolboy.png");
}
.forwhom-list__item--2::before {
  content: "";
  display: inline-block;
  margin-bottom: 14px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #D5E9F6;
  background-size: 40px;
  background-position: top 45% left 56%;
  background-repeat: no-repeat;
  background-image: url("../img/forwhom/student.png");
}
.forwhom-list__item--3::before {
  content: "";
  display: inline-block;
  margin-bottom: 14px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #FFF1CC;
  background-size: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/forwhom/emigrant.png");
}
.forwhom-list__item--4::before {
  content: "";
  display: inline-block;
  margin-bottom: 14px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #FAD3D3;
  background-size: 36px;
  background-position: top 57% left 50%;
  background-repeat: no-repeat;
  background-image: url("../img/forwhom/communicative.png");
}
.forwhom-list__item--5::before {
  content: "";
  display: inline-block;
  margin-bottom: 14px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #D5E9F6;
  background-size: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/forwhom/business.png");
}
.forwhom-list__item--6::before {
  content: "";
  display: inline-block;
  margin-bottom: 14px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #E4D3E8;
  background-size: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/forwhom/travel.png");
}
.forwhom-list__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: var(--title-color);
}
.forwhom-list__descr {
  margin: 0;
  font-weight: 500;
  color: var(--grey-color58);
}

.benefits-list {
  counter-reset: benefits;
}
.benefits-list__item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: dense;
}
.benefits-list__item:not(:last-child) {
  margin-bottom: 60px;
}
.benefits-list__content {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  position: relative;
  padding-top: 68px;
}
.benefits-list__content--reverse {
  grid-column: 7/6 span;
  padding-left: 135px;
}
.benefits-list__content--1::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 63px;
  height: 28px;
  font-weight: 700;
  color: var(--light-color);
  background-color: #2e90d1;
  border-radius: 100px;
  counter-increment: benefits;
  content: "0" counter(benefits);
}
.benefits-list__content--2::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 63px;
  height: 28px;
  font-weight: 700;
  color: var(--light-color);
  background-color: var(--accent-color);
  border-radius: 100px;
  counter-increment: benefits;
  content: "0" counter(benefits);
}
.benefits-list__content--3::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 63px;
  height: 28px;
  font-weight: 700;
  color: var(--light-color);
  background-color: #e42125;
  border-radius: 100px;
  counter-increment: benefits;
  content: "0" counter(benefits);
}
.benefits-list__img {
  grid-column: 7/6 span;
}
.benefits-list__img--reverse {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.benefits-list__title {
  margin: 0;
  margin-bottom: 20px;
  color: var(--title-color);
  font-weight: 700;
  line-height: 113%;
  font-size: 36px;
}
.benefits-list__descr {
  margin: 0;
  color: var(--grey-color58);
  font-weight: 500;
  font-size: 20px;
}
.benefits-list__descr:not(:last-child) {
  margin-bottom: 10px;
}
.benefits-list__descr--1 {
  max-width: 512px;
}
.benefits-list__descr--2 {
  max-width: 507px;
}
.benefits-list__descr--3 {
  max-width: 578px;
}

.work-list {
  counter-reset: work;
}
.work-list__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  -webkit-box-shadow: 0px 4px 20px #F7F6FB;
  box-shadow: 0px 4px 20px #F7F6FB;
  border-radius: 20px;
  position: relative;
}
.work-list__content {
  padding: 120px 40px 40px 40px;
}
.work-list__content--1::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 63px;
  height: 28px;
  font-weight: 700;
  color: var(--light-color);
  background-color: #2e90d1;
  border-radius: 100px;
  counter-increment: work;
  content: "0" counter(work);
}
.work-list__content--2::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 63px;
  height: 28px;
  font-weight: 700;
  color: var(--light-color);
  background-color: var(--accent-color);
  border-radius: 100px;
  counter-increment: work;
  content: "0" counter(work);
}
.work-list__content--3::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 63px;
  height: 28px;
  font-weight: 700;
  color: var(--light-color);
  background-color: #e42125;
  border-radius: 100px;
  counter-increment: work;
  content: "0" counter(work);
}
.work-list__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 24px;
}
.work-list__descr {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 500;
  color: var(--grey-color58);
}

.swiper {
  overflow: visible;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -60px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}

.swiper-pagination-bullet {
  background-color: #BB92C6;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #78258d;
}
/*# sourceMappingURL=main.css.map */